
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@font-face {
    font-family: 'nanum_extrabold';
    src: url('NanumGothicExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body{font-family: 'Nanum Gothic', sans-serif; overflow-x:hidden;}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;color: black;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
.clearfix{*zoom:1}
.clearfix:after{content:'';display:block;clear:both}


.sec1{width: 100%; padding-top: 28px; background-color: #eaf2ff; position: relative; min-height: 740px}
.se_Museum{min-height: 75px}

.sec1 .head h1{width:800px; float:left; font-size:30px; font-weight: bold; color: #000;font-family: 'nanum_extrabold'}
.sec1 .head ul{width: 389px;float: right; text-align: right;}
.sec1 .head ul li{padding:5px 0;  display: inline-block; margin-left: 25px; border-bottom: 1px solid #000;}

.sec1 .text_sec{margin-top: 100px;text-align: center;margin-bottom: 80px}
.sec1 .text_sec p{font-weight: bold; text-shadow: rgb(10 189 240 / 30%) 3px 3px 0px, rgb(254 1 1 / 30%) -3px -3px 0px;}
.sec1 .text_sec .h_text_1{padding-right: 100px}
.sec1 .text_sec .h_text_2{padding-left: 100px;padding-top:15px}

.sec1 .img_sec div{float: left; text-align: center;}
.sec1 .img_sec .num1{width: 250px;padding-top:55px;}
.sec1 .img_sec .num1 img{animation: mimg 1s linear infinite alternate;}

.sec1 .img_sec .num2{width: 689px;}
.sec1 .img_sec .num3{width: 250px;padding-top:55px}
.sec1 .img_sec .num3 img{animation: mimg 1s linear infinite alternate;}

.arm_sec{position: absolute; bottom: -340px;left: 50%;transform: translate(-50%, -50%);animation: jaehee 1s linear infinite alternate;}
@-webkit-keyframes jaehee {
  0% {
    bottom:-332px;
  }
  100% {
    bottom:-327px;
  }
}
@-webkit-keyframes mimg {
  0% {
    transform: rotate( 0deg );
  }
  100% {
   transform: rotate( -5deg );
  }
}


.sec2{margin-top: 300px; margin-bottom: 250px}
.se_Museum2{margin-top: 200px; padding-bottom:150px; border-bottom: 1px solid #bbb}
.sec2 .info{width:590px;float: left;}
.sec2 .info h2{font-size: 30px; font-weight: bold; margin-top:150px;margin-bottom:30px; font-family: 'nanum_extrabold' !important;}
.sec2 .info p{font-weight:lighter; line-height: 30px; margin-bottom:40px;}
.sec2 .sw{width:520px; float: right;}
.sec2 .sw .wrapper{width:450px; border: 10px solid #000; border-radius: 3%; background-color: #000;box-shadow: 10px 10px 5px rgb(0 0 0 / 25%);
}

}
.sec2 .sw .wrapper .swiper-slide{height:440px !important;}
.sec2 .sw img{width:450px; border-radius: 1%;}

.button_s{}
.button_s a{width: 108px;
    padding: 11px 20px;
    background-color: #eaf2ff;display: block;
    text-align: center;
    font-size: 15px;border-radius: 10px;}

section .sec_in{width: 100%;width: 1189px; display: grid; margin: 0 auto; box-sizing: border-box;position: relative;}


.mo img{display: inline-block;width: 80px}
#giftt .end img{width:300px; position: absolute;}

.sec3{border-top: 1px solid #ddd; padding:50px; text-align: center;}
.sec3 ul li{display: inline-block; padding-left: 30px}

.swiper-container2{margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;}


    .swiper-pagination2_1 {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.sec4 .form_fild{margin-top: 150px;}
.sec4 .textinput{width: 1084px;
    height: 36px;
    margin-bottom: 50px;
    font-size: 15px;
    padding: 8px;}
.sec4 .submit_button{height: 55px; width:80px; background-color: #fff; border: 1px solid rgb(118, 118, 118)}
.sec4 .info_t{line-height:35px}
.sec5 {margin-bottom: 200px}
.sec5 .ran_table{margin-top:200px; width: 1127px; border: 1px solid rgb(118, 118, 118); padding:30px;}
.sec5 .table_top {margin-bottom: 50px}
.sec5 .table_top .t_img{ float: left}
.sec5 .table_top .t_img img{width:500px; margin-right: 30px}
.sec5 .table_top .t_info{float: left}
.sec5 .table_top .t_info h1{margin-top:85px;font-size: 100px; width:590px; font-weight: bold; color: #000;font-family: 'nanum_extrabold'; padding-bottom: 25px; border-bottom: 1px solid #bbb}
.sec5 .table_top .t_info h2{margin-top:50px; font-size: 50px; width:590px; font-weight: bold; color: #000;font-family: 'nanum_extrabold'; padding-bottom: 25px;}